/webapp/.web-server-pid
/webapp/app/config/parameters.yml
/webapp/build/
/webapp/phpunit.xml
/webapp/var/*
!/webapp/var/cache
/webapp/var/cache/*
!webapp/var/cache/.gitkeep
!/webapp/var/logs
/webapp/var/logs/*
!webapp/var/logs/.gitkeep
!/webapp/var/sessions
/webapp/var/sessions/*
!webapp/var/sessions/.gitkeep
!webapp/var/SymfonyRequirements.php
/webapp/vendor/
/webapp/web/bundles/
/webapp/web/tmp/
/webapp/gphoto/node_modules
*.AppleDouble/
/webapp/src/RaspiCameraBundle/Resources/public/
/RaspiCameraDaemon/.dep.inc
/RaspiCameraDaemon/dist/
/RaspiCameraDaemon/build/
/RaspiCameraDaemon/nbproject/private/
